html {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

.wrapper {
  margin-top: 1em;
  width: 100%;
  font-family: 'Lora', serif;
  padding: calc(1em + 1ex);
  box-sizing: border-box;
}

.wrapper h1 {
  font-size: 2.2em;
  font-weight: 500;
}

.wrapper h2 {
  color: #a81010;
  font-size: 1.4em;
  font-weight: 500;
}

.wrapper p, ul {
  font-size: 1.1em;
  line-height: 1.5em;
}

ul {
  font-size: 1.1em;
}

code {    
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #d63384;
  font-size: 0.875rem;
  word-wrap: break-word;
}

@media (min-width: 576px) {
  .wrapper {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 640px;
  }
}